application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

!application/sessions/
application/sessions/*
!application/sessions/index.html
!application/sessions/.htaccess

html/media/*
!html/media/
!html/media/image/
!html/media/image/banner/*
!html/media/image/doctrine/*
!html/media/image/logo/*
!html/media/image/pages/*
!html/media/image/uploads/
html/media/image/uploads/*
!html/media/audio/
html/media/audio/**
!html/media/audio/meetings/*
